@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #e6f7f0;
  --primary-500: #00a05b;
  --primary-600: #008049;
  --secondary-500: #0075e6;
  --secondary-600: #005eb8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

